<!-- Loop over each object in the projects array -->
{{#each books as |book|}}
  <div class='row mb-4 project'>
    <div class='col-md-5'>
      <h2>
        <!-- Call helper function with triple brackets to render the emoji span as HTML -->
        {{{get_emoji}}}
        <a href='/book/{{book.id}}'>{{book.title}}</a>
      </h2>
      <p>Created by {{book.user.name}} on {{format_date book.date_created}}</p>
    </div>
    <div class='col-md-7'>
      <p>
        {{book.shortDescription}}
      </p>
    </div>
  </div>
{{/each}}